*Rproj*
*sublime-*
.Rproj.user
.idea
data
 exploration/intermediate_results/
.Rhistory
.RData
.Ruserdata
git
pipeline
*fastq.gz
*fastq
*html
ext_data
contaminants
envs
export
input
pipeline_fasta
pipeline
plots
presentations_posters
tables
expor

.idea
tmp
misc_fastqs
R_cache
