*Rproj*
*sublime-*
.Rproj.user
 exploration/intermediate_results/
.Rhistory
.RData
.Ruserdata
git
pipeline
*fastq.gz
*fastq
*html
ext_data
contaminants
envs
export
input
pipeline_fasta
pipeline
plots
presentations_posters
tables

.idea
tmp
misc_fastqs
